/**
 * @file
 * Base element styles.
 */

html {
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}
/**
 * @file
 * Theme variables.
 */

:root {
  /* Colors */
  --darkCyan: #00252E;
  --paleBlue: #F5FAFF;
  --pink: #F00098;
  --white: #fff;
}
/**
 * @file
 * Layout styling for pages.
 */

.page__header {
  padding: 2rem 3rem 8rem;
}

/* If the screen size is 768px wide or less, hide the element */

@media screen and (max-width: 768px) {
  .page__header {
    padding: 1rem 1rem 5rem;
  }
}
/**
 * @file
 * Visual styles for buttons.
 */

.button {
  cursor: pointer;
  text-transform: capitalize;
}
/**
 * @file
 * Visual styles for header.
 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 25vw;
  max-width: 14rem;
}

.header__button {
  font-family: 'Poppins', sans-serif;
  border-radius: 40px;
  background-color: var(--white);
  border: 1px solid var(--pink);
  padding: 5px 25px;
  color: var(--pink);
  box-shadow: 0px 0px 2px 2px rgba(240, 0, 152, 10%);
}

.header__button:hover {
  background-color: var(--pink);
  color: var(--white);
  box-shadow: 0px 0px 2px 2px rgba(240, 0, 152, 35%);
  transition: color 600ms, background-color 600ms;
}

/* If the screen size is 768px wide or less, hide the element */

@media screen and (max-width: 768px) {
  .header__button {
    padding: 5px 20px;
  }
}