/**
 * @file
 * Visual styles for content.
 */

 .content__intro-heading {
   text-align: center;
 }

 .content__intro-body {
   width: 35%;
   margin: auto;
   text-align: center;
 }

 .content__intro-button {
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   border-radius: 40px;
   background-color: var(--pink);
   border: 1px solid var(--pink);
   padding: 20px 95px;
   color: var(--white);
   box-shadow: 0px 2px 3px 1px rgba(0, 45, 56, 30%)
 }

 .content__intro-button:hover {
   background-color: var(--white);
   color: var(--pink);
   box-shadow: 0px 2px 3px 1px rgba(240, 0, 152, 35%);
   transition: color 600ms, background-color 600ms;
 }

 .content__intro-button--wrapper {
   display: flex;
   text-decoration: none;
   justify-content: center;
   margin: 1.5rem 0 10rem;
 }

 .content__image-mockups {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   animation: fadeIn 0.5s ease-in forwards;
 }

 .content__intro-info {
   display: flex;
   justify-content: center;
   align-items: baseline;
   gap: 200px;
 }

 .content__intro-info-section-header {
   font-size: 4rem;
   margin: 90px 0 -1px;
   animation: fadeIn 0.5s ease-in forwards;
 }

 .content__image-intro-info-section {
   width: 15%;
   margin: 50px 0 -100px 5px;
   animation: fadeIn 0.5s ease-in forwards;
 }

 .content__intro-info-section-text {
   color: var(--lightGrey);
   animation: fadeIn 0.5s ease-in forwards;
 }

 .content__curved-section {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px 0px;
 }

 .content__curved-section > div {
   width: 50%;
 }

 .content__curved-section > img {
   width: 40%;
 }

 .content__curved-section--middle {
   padding-left: 10.5rem;
 }

 .content__curved-section--blue {
   background-color: var(--paleBlue);
 }

 .content__curved-section--blue > div > p {
   width: 70%;
 }

 @media screen and (max-width: 768px) {
   .content__intro-heading {
     font-size: 26px;
     padding: 0 2rem;
   }

   .content__intro-body {
     width: 90%;
   }

   .content__intro-button {
     padding: 12px 42px;
   }

   .content__intro-button--wrapper {
     margin: 2rem 0 7rem;
   }

   .content__image-mockups {
     width: 90%;
   }

   .content__intro-info {
     display: flex;
     align-items: center;
     gap: 25px;
     flex-direction: column;
   }

   .content__intro-info div:first-of-type {
     margin-bottom: -60px;
   }

   .content__intro-info-section-header {
     font-size: 3.5rem;
     margin-bottom: -5px;
   }

   .content__curved-section {
     flex-direction: column;
     text-align: center;
   }

   .content__curved-section > div {
     width: 95%;
   }

   .content__curved-section > img {
     width: 70%;
   }

   .content__curved-section--middle {
     padding-left: unset;
   }

   .content__curved-section--blue {
     flex-direction: column-reverse;
   }

   .content__curved-section--blue > div {
     width: 95%;
   }

   .content__curved-section--blue > img {
     width: 70%;
   }

   .content__curved-section--blue > div > p {
     width: unset;
   }

   .content__curved-section > div > h2 {
     margin-top: 3.5rem;
   }
 }

 @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateY(-50px) scale(1);
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateY(-50px) scale(1);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateY(-50px) scale(1);
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateY(-50px) scale(1);
  }
}
