/**
 * @file
 * Visual styles for footer.
 */

.footer__contact-info {
  padding: 5rem 5rem 5rem;;
  color: var(--white);
  background-color: var(--darkCyan);
  margin-bottom: -20px;
}

.footer__logo {
  width: 25vw;
  max-width: 14rem;
  filter: brightness(0) invert(1) opacity(1);
}

.footer__image {
  transform: translateY(3px);
  margin-right: 1rem;
}


@media screen and (max-width: 768px) {
  .footer__contact-info {
    padding: 2rem 2rem 2rem;
  }

  .footer__logo {
    width: 50vw;
  }
}
